<div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col-desktop mdl-cell--12-col">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <div class="mdl-card__title-text mdl-typography--text-center">Webmanager Login</div>
    </div>
    <div class="mdl-card__supporting-text">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
              <%= f.label :first_name, class: 'mdl-textfield__label' %>
              <%= f.text_field :first_name, class: 'mdl-textfield__input', autofocus: true %>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
              <%= f.label :last_name, class: 'mdl-textfield__label' %>
              <%= f.text_field :last_name, class: 'mdl-textfield__input', autofocus: true %>
            </div>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
            <%= f.label :email, class: 'mdl-textfield__label' %>
            <%= f.email_field :email, class: 'mdl-textfield__input', autofocus: true %>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
            <%= f.password_field :password, class: 'mdl-textfield__input' %>
            <%= f.label :password, 'Password ( '+ @minimum_password_length.to_s + ' characters minimum)', class: 'mdl-textfield__label' %>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
            <%= f.password_field :password_confirmation, class: 'mdl-textfield__input' %>
            <%= f.label :password_confirmation, 'Password ( '+ @minimum_password_length.to_s + ' characters minimum)', class: 'mdl-textfield__label' %>
          </div>

          </div>
          <div class="mdl-card__actions">
            <%= f.submit "Sign Up", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
            <%= render "devise/shared/links" %>
          </div>
      <% end %>
      </div>
</div>


