<div class="mdl-cell mdl-cell--12-col">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <div class="mdl-card__title-text">Notes</div>
    </div>
    <div class="mdl-card__supporting-text">
      <%= render 'form', note: @note %>
    </div>
  </div>

  <% @notes.reverse.each do |note| %>
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <div class="mdl-card__title">
          <div class="mdl-card__title-text"><%= note.title.titleize %></div>
        </div>
        <div class="mdl-card__supporting-text">
          <p class="card-text"><%= note.body.html_safe %></p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= note.created_at.to_formatted_s(:long) %>
        </div>
        <div class="mdl-card__menu">
          <button id="demo-menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-right">
            <li class="mdl-menu__item"><%= link_to 'Edit', edit_note_path(note) %></li>
            <li class="mdl-menu__item"><%= link_to 'Delete', note_path(note), method: :delete, data: {confirm: "Are you sure?"} %></li>
          </ul>
        </div>
      </div>
  <% end %>
</div>
