<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="mdl-card__supporting-text mdl-grid">
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
    <%= f.label :name, class:'mdl-textfield__label' %>
    <%= f.text_field :name, class:'mdl-textfield__input' %>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
    <%= f.label :organizer, class:'mdl-textfield__label' %>
    <%= f.text_field :organizer, class:'mdl-textfield__input' %>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.label :description, class:'mdl-textfield__label' %>
    <%= f.text_area :description, class:'mdl-textfield__input', rows:3 %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
    <%= f.text_field :start_date, placeholder: :start_date, class:'mdl-textfield__input datepicker' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
    <%= f.text_field :end_date, placeholder: :end_date, class:'mdl-textfield__input datepicker' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.label :location, class:'mdl-textfield__label' %>
    <%= f.text_area :location, class:'mdl-textfield__input' %>
  </div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
  <% if @event.persisted? %>
      <%= f.submit "Update Event", class:'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
      <%= link_to 'Cancel', event_path(event), class:'mdl-button mdl-js-button' %>
    <% else %>
      <%= f.submit "Create Event", class:'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
      <%= link_to 'Cancel', events_path, class:'mdl-button mdl-js-button' %>
    <% end %>
  </div>
<% end %>
