<!DOCTYPE html>
<html>
<head>
  <title>Webmanager</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag "webmanager/application", media: 'all' %>
  <%= javascript_include_tag "webmanager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">


  <% if current_user %>
      <%= render :partial => 'layouts/webmanager/header' %>
  <% end %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <%= custom_flash %>
      <%= yield %>
    </div>
  </main>

  <%= render :partial => 'layouts/webmanager/footer' %>
</div>
</body>
</html>
