<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webmanager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.css" %>
  <%= stylesheet_link_tag "webmanager/application", media: 'all' %>
  <%= javascript_include_tag "webmanager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">


  <%= render :partial => 'layouts/webmanager/header' %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div id="notification" class="mdl-cell mdl-cell--12-col">

      </div>
      <%= yield %>
    </div>
  </main>
  <%= render :partial => 'layouts/webmanager/footer' %>
</div>
<%= custom_flash %>
</body>
</html>
