<!DOCTYPE html>
<html>
<head>
  <title>Webmanager</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag "webmanager/application", media: "all" %>
  <script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled.min.js"></script>
  <%= javascript_include_tag "webmanager/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="fixed-sn white-skin">
<% if current_user %>
    <%= render :partial => 'layouts/webmanager/header' %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<main>
  <div class="container-fluid">
    <%= yield %>
  </div>
</main>


</body>
</html>
