<div class="mdl-card__supporting-text">
<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
  <% end %>
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.text_field :title, class:'mdl-textfield__input' %>
    <%= f.label :title, class:'mdl-textfield__label'%>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.text_area :description, class:'mdl-textfield__input', rows: 3%>
    <%= f.label :description, class:'mdl-textfield__label'%>
  </div>
  <div class="flex-checkboxes" id="select_asset">
  <%= hidden_field_tag "article[asset_list][]", nil %>
    <% Webmanager::BlogAsset.all.each do |asset| %>
          <%= check_box_tag "article[asset_list][]", asset.id, article.asset_list.include?(asset.id.to_s), id: dom_id(asset) %>
          <%= label_tag dom_id(asset), (image_tag asset.asset.url(:thumb)), onClick: "selected('#{dom_id(asset)}')", "data-asset":dom_id(asset), class: article.asset_list.include?(asset.id.to_s) ? 'selected' : ''%>
    <% end %>
  </div>
  <span class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="select_asset()"></span>
    <%=f.select :tag_list, options_for_select(Webmanager::Tag.all.map{|t| [t.name, t.name]}, :selected => @article.tag_list), {}, {:multiple => true}%>
  <div class="mdl-cell mdl-cell--12-col">
    <%= f.trix_editor :body%>
  </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  <% if @article.persisted? %>
    <%= f.submit "Update Article", class:'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
    <%= link_to 'Cancel', article_path(article), class:'mdl-button mdl-js-button' %>
  <% else %>
    <%= f.submit "Create Article", class:'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
    <%= link_to 'Cancel', articles_path, class:'mdl-button mdl-js-button' %>
  <% end %>
  </div>
<% end %>