<h1 class="h1-responsive"><%= @article.title %><%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-primary float-right' %><%= link_to 'Delete Article', article_path(@article), class: 'btn btn-primary float-right', method: :delete, data: {confirm: "Are you sure?"} %></h1>
<small>Created by <%= @article.user.name %> at <%= @article.created_at.to_formatted_s(:long) %></small>
<p><% @article.tag_list.split(',').each do |t| %>
    <span class="badge badge-info"><%= t %></span>
<% end %></p>
<hr>
<div class="text-justify trix-content">
  <p><%= raw @article.body %></p>
</div>
